.article {
  margin: 3em 0 4em;
}
.article header {
  border-top: 1px dashed #d2d2d2;
}
.article header h2 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin: 0.8em 0;
  font-size: 1.4em;
}
.article header h2 a {
  text-decoration: none;
}
.article header .date {
  text-align: center;
  font-size: 0.8em;
  margin-top: -0.7em;
}
.article header .date span {
  background-color: #f8f8f8;
  padding: 0 0.7em;
}
.article .content img {
  width: 100%;
  width: 20%;
  display: block;
  margin: 0 auto;
}
.article.intro .content p {
  display: inline;
}
.article.intro .content .more {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 0.3em;
}
.more,
.date {
  font-family: 'PT Serif', serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
  line-height: 1.2;
}
.article-date {
  margin-left: 1em;
  font-size: 60%;
  text-align: center;
  margin: 0;
}
